{
  "callsign": "App2AppProvider",
  "classname": "App2AppProvider",
  "locator": "libApp2AppProvider.so",
  "autostart": false,
  "version": 1,
  "resume": false,
  "precondition": [],
  "termination": [],
  "configuration": {
    "gatewayCallsign": "org.rdk.AppGateway",
    "jwtEnabled": false,
    "providerConflictPolicy": "lastWins"
  }
}
