set(autostart ${PLUGIN_OTTSERVICES_AUTOSTART})

if(PLUGIN_OTTSERVICES_STARTUPORDER)
set (startuporder ${PLUGIN_OTTSERVICES_STARTUPORDER})
endif()

map()
   key(root)
   map()
       kv(mode ${PLUGIN_OTTSERVICES_MODE})
       kv(locator lib${PLUGIN_IMPLEMENTATION}.so)
   end()
end()
ans(configuration)

